# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Turbo
.turbo/

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
